extends skeleton

block body
	.row
		.small-3.columns.small-centered
			h1 Face2Face
	.row
		.small-3.columns.small-centered
			h1 Process
		.row

	.row
		.small-12.columns
			h1 Candidates
	.row
		.small-12.columns
			h1 Clients