extends skeleton

block body
	.fixed
		nav.top-bar.hide-for-small(data-topbar)
			ul.title-area
				li.name
					h1: a(href='#body') Face2Face
				li.toggle-topbar.menu-icon: a(href='#') Menu

			section.top-bar-section
				ul.right
					li
						a(href='#process-title') Our Process
					li
						a(href='#candidate-section') Info for Candidates
					li
						a(href='#client-section') Info for Clients
	#main-title.row.section-row
		.row
			.small-4.columns.small-centered.section-title
				h1 Face2Face
		.row
			.small-12.columns
				|Video here
	#process-title.row.section-row
		.row
			.small-4.columns.small-centered.section-title
				h1 Process
		.row
			.small-6.columns
				|Text here
			.small-6.columns
				|Text here too
	#candidate-section.row.section-row
		.row
			.small-4.columns.small-centered.section-title
				h1 For candidates
		.row
			.small-6.columns
				|Text here
			.small-6.columns
				|Text here too
	#client-section.row.section-row
		.row
			.small-4.columns.small-centered.section-title
				h1 For clients
		.row
			.small-6.large-6.columns
				|Text here
			.small-6.large-6.columns
				|Text here too